<div class="padre">
<form class="form">
    <p class="title">Añade un nuevo libro </p>
    <p class="message">¡ Asi todos podremos disfrutar de el ! </p>
        
        <label>
            <input required="" placeholder="" type="text" class="input" #imagen>
            <span>Portada</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" #title>
            <span>Titulo</span>
        </label>
    
            
    <label>
        <input required="" placeholder="" type="text" class="input" #author>
        <span>Author</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="text" class="input" #type>
        <span>Tipo de tapa</span>
    </label>
    <label>
        <input required="" placeholder="" type="number" class="input" #price>
        <span>Precio</span>
    </label>

    <button on-click="addBook(imagen.value,title.value,author.value,type.value,price.value)" class="submit">Añadir</button>
    
</form>
</div>