<div class="padre">
<form class="form">
    <p class="title">Añade un nuevo libro </p>
    <p class="message">¡ Asi todos podremos disfrutar de el ! </p>
        
        <label>
            <input required="" placeholder="" type="text" class="input" #imagen1>
            <span>Portada</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" #title1>
            <span>Titulo</span>
        </label>
    
            
    <label>
        <input required="" placeholder="" type="text" class="input" #author1>
        <span>Author</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="text" class="input" #type1>
        <span>Tipo de tapa</span>
    </label>
    <label>
        <input required="" placeholder="" type="number" class="input" #price1>
        <span>Precio</span>
    </label>

    <label>
            <input required="" placeholder="" type="number" class="input" #id_book1>
            <span>Codigo del libro</span>
        </label>

        <label>
            <input required="" placeholder="" type="number" class="input" #id_user1>
            <span>ID de usuario</span>
        </label>

    <button on-click="addBook(imagen1.value,title1.value,author1.value,type1.value,price1.value,id_book1.value,id_user1.value)" class="submit">Añadir</button>
    
</form>
</div>