

<div class="padre">
    <div class="hijo1">
        <div class="image"><img src="{{miUser.photo}}" alt=""></div>
        <!-- <div class="nombreC"><h1>{{miUser.nombreCompleto()}}</h1></div> -->
        <div class="formulario">
            
            <form action="submeter-formulario.php" method="post">
          
                  
                    <input type="text" [value]="miUser.name">
               

                
                 
                        <input type="text" [value]="miUser.last_name">
            

            
                   
                        <input type="origen" [value]="miUser.email">
                

            </form>
        </div>
    </div>
    
    
    <div class="hijo2">
        <h1 class="titulo"> Editar datos </h1>

        <div class="formulario2">
            
            <form action="">
                <p>
                    <input type="text" #name1>
                    
                </p>

                <p>
                        <input type="text" #apellido1>
                </p>

                <p>
                        <input type="text" #email1>
                </p>

                <p>
                        <input type="text" #url1>
                </p>
                
                <button (click)=cambiarDatos(name1,apellido1,email1,url1)>Modificar</button>
            </form>
        </div>

    </div>
</div>
