<div class="libros">

    <div class="card" *ngFor="let libro of books; let even = even">
      <div class="if" *ngIf="books.lengthas === 0">
  ¡No hay libros!
</div>
  <img src="{{libro.photo}}" alt=""/>
    <h5 class="cardtitle">{{libro.title}}</h5>
      <div class="cardtext">
        <p>El author es: {{libro.author}}</p>
        <p>Su tapa es: {{libro.type}}</p>
        <p>su precio es: {{libro.price}}€</p>
        <div>{{libro | ref}}</div>
        
        <div class="extra">
        <button [ngClass]="even ? 'color1' : 'color2' " >Comprar</button>
      </div>
      </div>
      
    </div>
  
<!-- 
    <div class="hijo2">
      <h1 class="titulo"> Añadir libro </h1>

      <div class="formulario2">
          
          <form action="">
              <p>
                  <input type="text" #imagen1>
                  
              </p>

              <p>
                      <input type="text" #title1>
              </p>

              <p>
                     <input type="text" #author1> 
              </p>

              <p>
                      <input type="text" #type1>
              </p>

              <p>
                      <input type="text" #price1>
              </p>
              
              <p>
                      <input type="text" #id_book1>
              </p>

              <p>
                      <input type="text" #id_user1>
              </p>

              <button (click)=añadirLibro(imagen1,title1,author1,type1,price1,id_book1,id_user1)>Añadir</button>
          </form>
      </div>

  </div>

</div>

 -->
