
.padre{
    background-image:url(../../../assets/imagenes/fondo_libros_Blancos.webp);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hijo1{
    padding: 10px;
}
.hijo1 div{
    height: 10vh;
    width: 100%;
    border: 5px solid #fafafa10;
   border-radius: 20px;
   backdrop-filter: blur(0.1rem);
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: rgba(26, 58, 40, 0.762) ;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.imagen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.imagen img{
    height: 80%;
    width: 25%;
    border: 5px solid #fafafa10;
    border-radius: 20px;
    backdrop-filter: blur(0.1rem);

}
.hijo2 {
    height: 10vh;
    width: 100%;
    text-align: center;
    border: 5px solid #fafafa10;
    border-radius: 20px;
    backdrop-filter: blur(0.1rem);
    color: var(--color1);
}